{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}


{% block content %}

    <h1 id="">App Log</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Method</th>
                <th>Resource</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for logged_request in logged_requests %}
            {% for logged_app in logged_request.app_logs %}
            {% set loggedAt = datetime.datetime.fromtimestamp(logged_app.time).strftime('%D %T UTC') %}
            <tr>
                <td class="nowrap">{{ loggedAt }}</td>
                <td>{{ logged_request.method }}</td>
                <td>{{ logged_request.resource }}</td>
                <td>{{ logged_app.message }}</td>
            </tr>
            {% else %}
            <tr><td colspan="7">No log entries found</td></tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

