
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }


body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}
